<div class="w-full h-screen flex flex-col bg-red-500 bg-cover">
	<div class="flex justify-center mb-7">
		<img class ="m-7 w-1/4 h-auto mx-auto"src="https://upload.wikimedia.org/wikipedia/hif/b/bd/Liverpool_FC.png" alt="">
	</div>
	<div class="flex justify-center">
		<a [routerLink]="['/players']" routerLinkActive="active" class= "btn text-center w-1/4 bg-white hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded-xl"> 5 Player </a>
	</div>
</div>
