<span class="flex justify-center text-[40px] font-bold m-2">NAMEEEEEEEEEE</span>
<div class="flex items-center justify-center">
	<div class="flex justify-center h-[81vh] border-solid border-2 rounded-xl bg-gray-800">
		<img class="rounded-l-lg w-[20vw] h-[80vh]" src="{{player.picUrl}}" alt="" />
		<div class="h-[80vh] w-[50vw] font-semibold text-[40px] text-white">
			<div class="flex ml-5">
				<p>Name      : </p><p class="text-[40px] font-normal px-3">{{player.name}}</p>
			</div>
			<div class="flex ml-5">
				<p>Number    : </p><p class="text-[40px] font-normal px-3">{{player.number}}</p>
			</div>
			<div class="flex ml-5">
				<p>Position  : </p><p class="text-[40px] font-normal px-3">{{player.position}}</p>
			</div>
			<div class="flex ml-5">
				<p>Birthday  : </p><p class="text-[40px] font-normal mx-3">{{player.birth}}</p>
			</div>
			<div class="flex ml-5">
				<p>Place of birth : </p><p class="text-[40px] font-normal mx-3">{{player.place}}</p>
			</div>
			<p class="text-[30px]">&nbsp;&nbsp;&nbsp;&nbsp;{{player.desc}}</p>
		</div>
	</div>
	
</div>

